/* --- defaults --- */

.updoc-step {
  border-left: 2px solid gray;
  padding-left: .5em;
  background: white;
  color: black;
}
.updoc-output-exp { color: gray; }
.updoc-output-got { color: red; }

.updoc-expr, .updoc-output-exp, .updoc-output-got {
  /* ensures that the ?>> is adjacent to the # as in standard updoc view */
  margin-top: 0;
  margin-bottom: 0;
}

.updoc-progress-bar {
  display: table;
  width: 90%;
  margin: .5em auto;
  border: 4px ridge white;
}
.updoc-progress {
  display: table-cell;
  text-align: center;
}

/* --- step labels --- */

.updoc-step {
  margin-left: 2.4em;
}

.updoc-step-label, a:link.updoc-step-label /* for specificity */ {
  background: white;
  color: gray;
  
  display: table;
  float: left;
  text-align: right;
  width: 2em;
  margin-left: -2.8em;
}

/* --- not-yet-run --- */

.updoc-step.updoc-pending {
  border-left: dotted black;
}

.updoc-progress.updoc-pending {
  background: white;
  color: black;
}

/* --- running --- */

.updoc-step.updoc-running, .updoc-progress.updoc-running {
  color: black;
  background: #EEE;
}

/* --- success --- */

.updoc-step.updoc-matched {
  color: black;
  border-color: #EEE;
}
.updoc-step.updoc-matched .updoc-output-got { color: black; }
.updoc-step.updoc-matched .updoc-output-exp { display: none; }

.updoc-progress.updoc-matched {
  background: #AFA;
  color: gray;
}

/* --- failure --- */

.updoc-step.updoc-mismatch {
  color: black;
  border-color: red;
}
.updoc-step.updoc-mismatch .updoc-output-got { color: red; }
.updoc-step.updoc-mismatch .updoc-output-exp { color: green; }

.updoc-progress.updoc-mismatch {
  background: red;
  color: white;
}

/* --- multi-test driver page styles --- */

.updoc-pane-group {
  /* white-space: nowrap; */
}

.updoc-pane {
  border: none;
  margin: 0 auto 0 auto;
  width: 95%;
  height: 90%;
}
